/* semantic color variables for this project */

[data-theme="CUSTOM-THEME-LIGHT"] {
  --color-background: rgb(226, 226, 226);
  --color-main-content-bg: rgb(255, 255, 255);
  --color-background-accent: rgba(202, 202, 202, 0.493);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --primary-color: rgba(74, 179, 97, 0.774);
  --secondary-color: rgb(35, 97, 23);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: rgb(0, 0, 0);
  --button-text-color: rgb(0, 0, 0);
  --color-disabled: rgb(155, 155, 155);

  --error-color: rgba(219, 68, 68, 0.863);
  --error-color-secondary: rgba(133, 40, 40, 0.863);
}