/* semantic color variables for this project */

[data-theme="CUSTOM-THEME-LIGHT"] {
  // --color-background: pink;
  // &:root {
    /* --color-background: rgb(204, 204, 204);
    --color-background-soft: rgb(150, 150, 150);
    --color-background-mute: var(--vt-c-white-mute)rgba(1,1,1);
    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1); */
  /* 
    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
  
    --section-gap: 160px;
    
    --primary-color: hsla(160, 100%, 37%, 1);
    --secondary-color: rgb(15, 88, 64);
    
    --color-heading: var(--vt-c-text-dark-1);
    --color-text: rgb(170, 170, 170);
    --button-text-color: rgb(41, 41, 41);
    
    --error-color: rgba(219, 68, 68, 0.863);
    --error-color-secondary: rgba(133, 40, 40, 0.863); */
  
    --color-background: rgb(226, 226, 226);
    --color-main-content-bg: rgb(255, 255, 255);
  
    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);
  
    --primary-color: rgb(52, 141, 111);
    --secondary-color: rgb(15, 88, 64);
  
    --color-heading: var(--vt-c-text-dark-1);
    --color-text: rgb(0, 0, 0);
    --button-text-color: rgb(49, 42, 42);
  
    --error-color: rgba(219, 68, 68, 0.863);
    --error-color-secondary: rgba(133, 40, 40, 0.863);
  }
// }